<p>This is the search & list view for {{$root.currBean}}</p>

<table
	ng-table-dynamic="tableParams with cols"
	show-filter="true"
	class="table table-bordered table-striped">
	<tr ng-repeat="value in $data">
		<td ng-repeat="col in $columns">{{value[col.field]}}</td>
	</tr>
</table>

<button
	class="btn btn-default"
	translate="label.jeda.back"
	ng-click="back()"></button>
<button
	class="btn btn-default btn-primary"
	ng-click="createBean()">
	<span class="glyphicon glyphicon-plus"></span> <span translate="label.jeda.add"></span>
</button>