<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>RestEasy sample Web Application</display-name>
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>fr.ippon.tlse.ApplicationRest</param-value>
		</init-param>
		<!--  <init-param>
        <param-name>javax.ws.rs.container.ContainerRequestFilter</param-name>
        <param-value>fr.ippon.tlse.filter.PreRequestFilter</param-value>
    </init-param> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>
	<filter>
		<filter-name>PreRequestFilter</filter-name>
		<filter-class>fr.ippon.tlse.filter.PreRequestFilter</filter-class>		
	</filter>
		<filter>
		<filter-name>PostRequestFilter</filter-name>
		<filter-class>fr.ippon.tlse.filter.PostRequestFilter</filter-class>		
	</filter>
</web-app>